<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="POST">
        <input type="text" name="username" id="i1" placeholder="username">
        <br>
        <input type="password" name="password" id="i2" placeholder="password">
        <br>
        <input type="email" name="email" id="" placeholder="email">
        <button type="submit">Submit</button>
    </form>
    <script>
        const form = document.querySelector('form')
        form.addEventListener('submit', async(e) => {
            e.preventDefault()
            const username = form.username.value
            const password = form.password.value
            const email = form.email.value
            try {
                const res = await fetch('/login', {
                    method: 'POST',
                    redirect: "follow",
                    body: JSON.stringify({
                        username: username,
                        password: password,
                        email: email
                    }),
                    headers: {
                        'Content-Type':'application/json'
                    }
                })
                const data = await res
                console.log(data)
                if(data.redirected){
                    location.assign(data.url)
                }
            } catch (e) {
               console.log(e) 
            }
        })
    </script>
</body>
</html>